<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161200103738-906or9obhl8b8a23av6bqfifv6r8rf43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161200103738-906or9obhl8b8a23av6bqfifv6r8rf43</string>
	<key>API_KEY</key>
	<string>AIzaSyDLf-uQPIXzpeemzJfz3KYa8VTa1OsPHkU</string>
	<key>GCM_SENDER_ID</key>
	<string>161200103738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seongilkim.neighborLibrary</string>
	<key>PROJECT_ID</key>
	<string>neighbor-library-a01d4</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbor-library-a01d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161200103738:ios:9d8cfa2aac13f6ea547003</string>
</dict>
</plist>